body{
    background-color: #222222;
}
/*Top Navigation bar*/
.topnav{
    overflow: hidden;
    background-color: #101010;
    font-size: 20px;
    padding: 10px; 
}
.topnav_right {
    float: right;
}
.nav_text{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    margin: 5px;
}
.topnav a:hover{
    color: red;
}

.main{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.co.uk%2Fpin%2Fnakano-miku-wallpaper-discover-more-5-toubun-no-hanayome-anime-manga-miku-nakano-nakano-miku-wallpaper-httpsw--781726447822370545%2F&psig=AOvVaw1BudyBrcbHOMpnx456xZ50&ust=1726207783865000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCODu25_fvIgDFQAAAAAdAAAAABAE);
    background-repeat: no-repeat;
    background-size: 80% 100%;
    background-position: 50%;
    opacity: 0.6;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 80px;

    
}
/*Text*/
.tittle_1{
    font-size: 40px;
    color: white;
    text-align: center;
}
.text_1{
    font-size: 20px;
}
.pictures{
    padding-top: 20px;
    margin-left: 10%;
}
img{
    border-radius: 5px;
}
p{
    color: white;
}
